<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teneo Web Chat</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0 user-scalable=no">
    <style>
      body {
        background: #f9fbe7;
      }
    </style>
  </head>

  <body>
    <button onclick="TeneoWebChat.call('reset')">Reset Chat</button><br>
    <button onclick="TeneoWebChat.call('maximize')">Maximize</button><br>
    <button onclick="TeneoWebChat.call('minimize')">Minimize</button><br>
    <button onclick="console.log(TeneoWebChat.get('state'))">Get State</button><br>
    <button onclick="TeneoWebChat.call('end_session')">End session</button><br>
    <button onclick="TeneoWebChat.call('clear_history')">Clear history</button><br>
    <button onclick="console.log(TeneoWebChat.version())">Version</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'bot', 'type': 'text', 'data': {'text': 'Funky!'}})">Add message</button><br>
    <button onclick="TeneoWebChat.call('send_input', 'What do you think about jimi hendriks?', {'userCountryCode':'NL'}, false)">Send message</button><br>
    <button onclick="TeneoWebChat.call('send_input', 'Do you like silent messages?', {'userCountryCode':'NL'}, true)">Send silent message</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'system', 'type': 'system', 'data': {'text': 'This is a system message. You are number <strong>4</strong> in the queue.'}})">Add system message</button><br>
    <button onclick="console.log(TeneoWebChat.set('window_title', 'Crazy stuff'))">Set window title</button><br>
    
    <div id="teneo-web-chat"></div>
    <script src="main.js"></script>
    <script>
      window.onload = function () {
        if (
          window.TeneoWebChat &&
            typeof window.TeneoWebChat.initialize === 'function'
        ) {
          var element = document.getElementById('teneo-web-chat');


          // EXTENSIONS          
          function onNewMessage(message) {
            console.log("onNewMessage", message)
            return message
          }

          function onVisibilityChanged(data) {
            console.log("onVisibilityChanged", data)
            return data
          }
          
          function onEngineRequest(request) {
            console.log("onEngineRequest", request)
            return request
          }

          function onEngineResponse(response) {
            console.log("onEngineResponse", response)
            return response
          }

          function onInputSubmitted(text) {
            console.log("onInputSubmitted", text)
            return new Promise(resolve => { 
              setTimeout(() => { 
                resolve(text)
               }, 1000);
            });         
          }

          function onButtonClicked(button) {
            console.log("onButtonClicked", button.postback)
            return new Promise(resolve => { 
              setTimeout(() => { 
                resolve(button)
               }, 500);
            });         
          }

          function onReady(initialData) {
            console.log('onReady',initialData);
          }

          TeneoWebChat.on('new_message', onNewMessage);
          TeneoWebChat.on('visibility_changed', onVisibilityChanged);
          TeneoWebChat.on('engine_request', onEngineRequest);
          TeneoWebChat.on('engine_response', onEngineResponse);
          TeneoWebChat.on('input_submitted', onInputSubmitted);
          TeneoWebChat.on('component_button_clicked', onButtonClicked);
          TeneoWebChat.on('ready', onReady);


          
          window.TeneoWebChat.initialize(
            element,
            '<%= process.env.HEADER_TITLE %>',
            '<%= process.env.TENEO_ENGINE_URL %>',
            '<%= process.env.CLOSE_TIE_SESSION_ON_EXIT %>',
            '<%= process.env.HEADER_ICON_URL %>',
          );
          //END EXTENSIONS MODS

        }
      }
    </script>
    
  </body>
</html>
