<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teneo Web Chat</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0 user-scalable=no">
    <style>
      body {
        background: #f9fbe7;
      }
    </style>
  </head>

  <body>
    <button onclick="window.TeneoWebChat.resetChat()">Reset Chat</button>
    <button onclick="window.TeneoWebChat.call('maximize')">Maximize</button>
    <button onclick="window.TeneoWebChat.call('minimize')">Minimize</button>
    <button onclick="window.TeneoWebChat.get('state')">Get State</button>
    <div id="teneo-web-chat"></div>
    <script src="main.js"></script>
    <script>
      window.onload = function () {
        if (
          window.TeneoWebChat &&
            typeof window.TeneoWebChat.initialize === 'function'
        ) {
          var element = document.getElementById('teneo-web-chat');


          // EXTENSIONS

          // just any string processing method
          function reverseString(str) { 
            var splitString = str.split("");
            var reverseArray = splitString.reverse();
            var joinArray = reverseArray.join("");
            return joinArray; 
          }

          // Override methods

          var onEvent = function(msg){ //Example: teneo-api.js L44, L84
            console.log('OnEvent: '+msg)
          }
          var sendMessage = function(msg){ //Example: ChatWindow.vue L56
            console.log('@Override function sendMessage');

            //reverse the text input of the message
            //msg.data.text = reverseString(msg.data.text)

            // add exclamation mark to input
            msg.data.text = msg.data.text + "!"
            return msg
          }
          var onVisiblilityChanged = function(data){
            console.log(data);
          }
          
          var onNewMessage = function(message) {
            //console.log('onNewMessage.messageType: '+message.type);
            switch (message.type) {
              case 'text':
                // handle new text message event
                console.log("Text message detected");
                break;

              case 'card':
                // handle new card message event
                console.log("Card message Detected")
                break

              default:
                break;
            }
          }

          var onVisibilityChanged = function(data){
            switch (data.state){
              case 'minimized':
                console.log('onVisibilityChanged: minimized');
                break;
              case 'maximized':
                console.log('onVisibilityChanged: maximized');
                break;
              default:
                break;
            }
            return data;
          }

         //window.TeneoWebChat.on('sendMessage',sendMessage);
          window.TeneoWebChat.on('send_input',sendMessage);
          window.TeneoWebChat.on('new_message', onNewMessage);
          window.TeneoWebChat.on('visibility_changed', onVisibilityChanged);

          
          window.TeneoWebChat.initialize(
            element,
            '<%= process.env.HEADER_TITLE %>',
            '<%= process.env.TENEO_ENGINE_URL %>',
            '<%= process.env.CLOSE_TIE_SESSION_ON_EXIT %>',
            '<%= process.env.HEADER_ICON_URL %>',
          );
          //END EXTENSIONS MODS

        }
      }
    </script>
  </body>
</html>
