<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teneo Web Chat</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0 user-scalable=no">
  </head>
  <style>
    body {
      background: #ddddaa;
    }
  </style>
  <body>
    <div id="teneo-web-chat"></div>
    <script src="main.js"></script>
    <script>
      window.onload = function () {
        if (
          window.TeneoWebChat &&
            typeof window.TeneoWebChat.initialize === 'function'
        ) {
          var element = document.getElementById('teneo-web-chat');

          window.TeneoWebChat.initialize(
            element,
            '<%= process.env.TITLE %>',
            '<%= process.env.LOGO_URL %>',
            '<%= process.env.TENEO_ENGINE_URL %>',
            '<%= process.env.CLOSE_TIE_SESSION_ON_EXIT %>',
          );
        }
      }
    </script>
  </body>
</html>
