<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teneo Web Chat</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0 user-scalable=no">
    <style>
      body {
        background: #f9fbe7;
      }
    </style>
  </head>

  <body>
    <button onclick="window.TeneoWebChat.call('reset')">Reset Chat</button>
    <button onclick="window.TeneoWebChat.call('maximize')">Maximize</button>
    <button onclick="window.TeneoWebChat.call('minimize')">Minimize</button>
    <button onclick="window.TeneoWebChat.get('state')">Get State</button>
    <button onclick="window.TeneoWebChat.call('end_session')">End session</button>
    <button onclick="window.TeneoWebChat.call('clear_history')">Clear history</button>
    <button onclick="console.log(TeneoWebChat.version())">Version</button>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'bot', 'type': 'text', 'data': {'text': 'Funky!'}})">Add message</button>
    <button onclick="TeneoWebChat.call('send_input', 'What do you think about jimi hendriks?', {'userCountryCode':'NL'}, false)">Send message</button>
    <button onclick="TeneoWebChat.call('send_input', 'Do you like silent messages?', {'userCountryCode':'NL'}, true)">Send silent message</button>
    
    <div id="teneo-web-chat"></div>
    <script src="main.js"></script>
    <script>
      window.onload = function () {
        if (
          window.TeneoWebChat &&
            typeof window.TeneoWebChat.initialize === 'function'
        ) {
          var element = document.getElementById('teneo-web-chat');


          // EXTENSIONS

          // just any string processing method
          // function reverseString(str) { 
          //   var splitString = str.split("");
          //   var reverseArray = splitString.reverse();
          //   var joinArray = reverseArray.join("");
          //   return joinArray; 
          // }

          
          function onNewMessage(message) {
            console.log("onNewMessage", message)
            return message
          }

          function onVisibilityChanged(data) {
            console.log("onVisibilityChanged", data)
            return data
          }
          
          function onEngineRequest(request) {
            console.log("onEngineRequest", request)
            return request
          }

          function onEngineResponse(response) {
            console.log("onEngineResponse", response)
            return response
          }

          function onInputSubmitted(text) {
            console.log("onInputSubmitted", text)
            return new Promise(resolve => { 
              setTimeout(() => { 
                resolve(text)
               }, 500);
            });         
          }

          function onButtonClicked(button) {
            console.log("onButtonClicked", button.postback)
            return new Promise(resolve => { 
              setTimeout(() => { 
                resolve(button)
               }, 500);
            });         
          }

          function onReady(initialData) {
            console.log('onReady.state'+initialData.state);
          }

          const myMessage = {'author': 'user', 'type': 'text', 'data': {'text': 'Funky!'}}

         //window.TeneoWebChat.on('sendMessage',sendMessage);
          //window.TeneoWebChat.on('send_input',sendMessage);
          window.TeneoWebChat.on('new_message', onNewMessage);
          window.TeneoWebChat.on('visibility_changed', onVisibilityChanged);
          window.TeneoWebChat.on('engine_request', onEngineRequest);
          window.TeneoWebChat.on('engine_response', onEngineResponse);
          window.TeneoWebChat.on('input_submitted', onInputSubmitted);
          window.TeneoWebChat.on('button_clicked', onButtonClicked);
          window.TeneoWebChat.on('ready', onReady);


          
          window.TeneoWebChat.initialize(
            element,
            '<%= process.env.HEADER_TITLE %>',
            '<%= process.env.TENEO_ENGINE_URL %>',
            '<%= process.env.CLOSE_TIE_SESSION_ON_EXIT %>',
            '<%= process.env.HEADER_ICON_URL %>',
          );
          //END EXTENSIONS MODS

        }
      }
    </script>
    
  </body>
</html>
